<p>
  <strong>Commenter:</strong>
  <%= comment.user_id %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<p>
	<strong>Blog id:</strong>
	<%= comment.blog_id %>
<p>
	<% if comment.user_id == current_user.id %>
	<%= link_to "delete comment", comment_path(comment), method: :delete %>
	<% end %>