
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>
	<% if true#comment.user_id == current_user.id %>
	<%= link_to "delete comment", comment_path(comment), method: :delete %>
</br>
	<% end %>
</br>